.venv/
__pycache__/
*.pyc
.env
.DS_Store
data/mortalidad_analizada_2005_2023 prueba.csv
# Secretos de Streamlit
.streamlit/secrets.toml

# Variables de entorno locales
.env

# Carpetas de Python (opcional, pero recomendado)
__pycache__/
*.pyc
venv/
.venv/